{{define "base"}}<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{template "title" .}}</title>
        <!--link rel="icon" type="image/x-icon" href="favicon.ico" /-->
        <link href="/assets/tuktuk/tuktuk.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/assets/tuktuk/tuktuk.icons.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/assets/tuktuk/tuktuk.theme.default.css" media="all" rel="stylesheet" type="text/css" />
        <link href="/assets/css/custom.css" media="all" rel="stylesheet" type="text/css" />
        <script src="/assets/tuktuk/tuktuk.js"></script>
        {{template "head" .}}
    </head>
    <body>
        {{template "body" .}}
    </body>
</html>{{end}}
